/* src/BottomNav.css */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.bottom-nav:active  {
    background-color: #FFFFFF;
}

.bottom-icon:active {
    background-color: #FFFFFF;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-item:hover {
    text-decoration: underline;
}
